* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 25, 24);
    font-size: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


@mixin fixed-top-bar($width, $pos, $top, $left) {
    width: $width;
    position: $pos;
    top: $top;
    left: $left;
}

@mixin fixed-footer($width, $pos, $bottom, $left,$color) {
    width: $width;
    position: $pos;
    bottom: $bottom;
    left: $left;
    min-height: 2rem;  
    background-color: $color;
}

@mixin  flex($js-content,$col-gap) {
    display: flex;
    justify-content: $js-content;
    column-gap: $col-gap;
}

.display-6{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    
}